body{
    margin:0;
    background-color: #2C3E50;
    font-family: 'Roboto', sans-serif;
    outline: none;
    color: #2C3E50;
}
.hdnft{
    background-color: #ECF0F1;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.bar{
    margin:0;
    height:45px;
    width: 100%;
    font-size: 30px;
    padding-top:5px;
    padding-left:30px;
    letter-spacing:1.5px;
    -webkit-user-select: none;
    user-select: none;
    border-top: 5px solid #3498DB;
}
#tools{
    background-color: white;
    border: none;
}
.bar p{
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    color:#3498DB;
}
.btn{
    cursor: pointer;
    width: 24px;
    right:20px;
    display: inline-block;
    margin: 5px 10px;
    opacity: 0.2;
    color: #2C3E50;
}
.btn:hover{
    opacity: 0.8;
    transform: rotate(0.125turn);
    -webkit-transform: rotate(0.125turn);
}
   
.btnActive{
    color:#3498DB;
    opacity: 1;
}

#queryInput,
#mAddrInput{
    display: inline-block;
    position: relative;
    top: -8px;
    left: 10px;
    display: none;
    text-indent: 5px;
    outline: none;
    border: 1px solid #3498DB;
    height: 18px;
    width:158px;
    letter-spacing: -0.2px;
}

.submit{
    color:#3498DB;
    opacity: 1;
}

#mailSubmit{
    display: none;
}
.error{
    color:#E74C3C;
    opacity: 1;    
}

#mailErr{
    display: none;
}

#entryList{
    text-indent: 5px;
    font-size: 13px;
    line-height: 18px;
    position: relative;
    border-left: 1px solid rgba(44,62,80,0.3);
    border-right: 1px solid rgba(44,62,80,0.3);
    border-bottom: 1px solid rgba(44,62,80,0.3);
    display: none;
    letter-spacing: -0.2px;
    padding: 0px;
    left:10px;
    width: 158px;
    top: -22px;
}
#entryList li:hover{
    cursor: pointer;
    /* background-color: rgba(52, 152, 219, 0.75) */
}
.mBg{
    background-color: rgba(242, 93, 95, 0.2)
}
.nBg{
    background-color: rgba(179, 223, 216, 0.4);
}
.fBg{
    background-color: rgba(242, 183, 5, 0.2);
}
.themeList{
    list-style: none;
}
.redBorder{
    border-color: #E74C3C;
}
.readwrite {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    outline: none;
}
.gender::selection{
    background-color:white;
}
.con{
    height:33%;
    margin-top: 10%;
}
.line{
    text-align: center;
}
#word{
    font-family: 'Roboto Slab', serif;
    color:lightslategrey;
    opacity: 0.8;
    font-size: 70px;
    letter-spacing:5px;
    vertical-align: top;
    margin-left:20px;
}
#word::selection{
    background-color:white;
    text-shadow: 2px 2px 2px salmon;
}
.gender{
    font-size: 70px;
    margin-right: 20px;
    color: Dimgray;
    opacity: 0.3;
    text-decoration: underline; 
    -webkit-user-select: none;
    user-select: none;
    width: 40px;
    caret-color:#2C3E50;
}
.white-caret{
    caret-color: white;
}
.dark-caret{
    caret-color: #2C3E50;
}
#tip{
    margin-top: 20px;
    display:none
}
#tip p{
    margin-left: 30px;
    text-align: center;
    color: lightsalmon;
    letter-spacing: 1px;
    font-size: 15px;
}
#hint{
    bottom: 30%;
    text-align: center;
    background-color: orangered;
    display: none;
}

.on{
    opacity:0.6;
}
  
#mistakeList ul{
    display:none;
}
.footer{
    height:30px;
    width:100%;
    position: absolute;
    bottom: 0px;
    padding-left:30px;
    font-size:18px;
    padding-top:10px;
}